.footer-container img {
  height: 30px;
  margin-left: 15px;
  margin-top: 15px;
}
.footer-content {
  padding: 10px 0;
  background-color: black;
}
.footer-image {
  height: 100%;
  width: 100%;
}
.footer-main-container {
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.footer-container {
  position: absolute;
  top: 15%;
  width: 100%;
}
.address {
  color: #fff;
}
.info {
  margin: 12px 0px 0px 10px;
}
.address .logo-image {
  height: 150px;
  border-radius: 20px;
}
.qr-container .image {
  height: 150px !important;
  width: 150px;
}
@media screen and (max-width: 769px) {
  .footer-container {
    top: 0;
    width: 100%;
  }
  .footer-content-container {
    padding-top: 200px !important;
  }
  .info {
    margin: 15px 0px 0px 20px;
  }
}
@media screen and (max-width: 426px) {
  .footer-content-container {
    padding-top: 1000px !important;
  }
  .footer-container {
    color: #fff !important;
  }
  .info {
    margin: 5px 0px 0px 5px;
  }
  .footerHeading {
    padding-top: 15px;
  }
}
