.footer-container img {
  height: 30px;
  margin-left: 15px;
  margin-top: 15px;
}
.footer-content {
  padding: 10px 0;
  background-color: black;
}
.footer-image {
  height: 100%;
  width: 100%;
}
.footer-main-container {
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.footer-container {
  position: absolute;
  top: 15%;
  width: 100%;
}

@media screen and (max-width: 769px) {
  .footer-container {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .footer-container {
    position: relative;
  }
  .footer-image {
    position: absolute;
    top: -37%;
  }
}
