.home_section {
  background-image: url('../assets/bg1.jpg');
  background-size: 100% 120%;
  font-family: 'Poppins', sans-serif;
}
.header_height {
  height: 100vh;
}
.headerColor {
  color: #ffffff;
}
.headerColor span {
  color: red;
}
.sec_bg {
  background: rgba(0, 0, 0, 0.4);
}
.title {
  width: 400px;
}
